.App {
  padding: 2rem;
}
.products__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
h2 {
  margin-top: 0;
}
.card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 1rem;
}
.card__priceContainer {
  display: flex;
  justify-content: space-between;
}
.card__price {
  padding: 0 0.5rem;
}
.button__addToCart {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}
